<p>Generic error for any of the Things.</p>

<p>If you see this, then the URL should not have changed to enter the route. Unless you proceed directly to that URL. For example, enter <a href="http://localhost:4200/things/second" target="_blank">http://localhost:4200/things/second</a> and you'll see this message and "Second" will be <strong>bold</strong> as it is currently the active route. However, if you click on "Second" the route is not entered and therefore it does not become bold.</p>
