<p><strong>outlet:</strong> {{outlet}}</p>

<p>In this version—as in {{link-to "Third" "things.third"}}—we capture the error with a "fake" promise resolve and assign it to the controller. Then in renderTemplate we check for an error and if it exists, we render a custom template instead of the default one.</p>

<p>The route is entered and the URL changes.</p>
