{{#if error}}
  <p>Error with Third Thing. In this style, we reject the promise, but then return a resolved promise with the error. In setupController, the error is assigned to the controller and then we display this text in the template.</p>
{{else}}
  <p>Third Thing</p>
{{/if}}
