<h2 id="title">Ember.js Error Handling</h2>

<p>A handful of experiments in handling errors during routing in Ember.js.</p>
<p>See code <a href="https://github.com/typeoneerror/ember-errors-testing">here</a>.</p>

{{link-to "Things" "things"}}

{{outlet}}
